name: Integration Tests

on:
  pull_request:
  workflow_call:

jobs:
  integration-test:
    name: Run Integration Tests
    runs-on: [ self-hosted, linux, x64, noble, large ]

    steps:
      - uses: actions/checkout@v2

      - run: cat /etc/docker/daemon.json

      - run: which docker

      - run: docker version

      - run: echo "FROM ubuntu:jammy" > Dockerfile

      - run: docker build .
